# Dependencies
/.pnp
.pnp.js

# Testing
/coverage/

# Production
/build/
/dist/
/out/

# Misc
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.dockerignore
docker-compose.override.yml

# OS-specific
Thumbs.db
desktop.ini
